<!DOCTYPE html>

{% extends "basic_html/base.html" %}

{% block body_block %}

<div class="container-fluid text-center">

    <div class="row content" style="padding-top: 10%; padding-bottom:10%;">
        <div class="container_for_side">

        </div>
        <div class="" style="font-family:'Roboto',sans-serif; font-size:16px;
            text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <h1 style="font:35px solid black">Algorithm for CNN : </h1>
            <h2 style="padding-top: 5%;">About Data Set</h2>
            <a href="https://github.com/amityv0113/Number-Plate-Detection/tree/master/train20X20"
                style="text-decoration: none;">link of data set</a>


            <p style="padding-top:3%;">Data set consist of total 34 folder
            </p>
            <img src="/static/images/train1_G.png" alt="">
            <img src="/static/images/trainG_z.png" alt="">
            <!-- <label for="">for more</label> -->
            <!-- <a href="https://en.wikipedia.org/wiki/ML">click here</a> -->
            <!-- <img src="abc.jpg" alt="Don't show"> -->
        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">Each folder consist of 10 images of index of folder example if folder index is 5
                then it contain 10 images of number 5 </p>
            <img src="/static/images/train5.png" alt="">
        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">For A alphabet </p>
            <img src="/static/images/train_A.png" alt="">
        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">A alphabet </p>
            <img src="/static/train/train20X20/A/A_8.jpg" alt="">
            <img src="/static/train/train20X20/A/A_1.jpg" alt="">
            <img src="/static/train/train20X20/A/A_2.jpg" alt="">
            <img src="/static/train/train20X20/A/A_3.jpg" alt="">
            <img src="/static/train/train20X20/A/A_4.jpg" alt="">
            <img src="/static/train/train20X20/A/A_5.jpg" alt="">
            <img src="/static/train/train20X20/A/A_6.jpg" alt="">
            <img src="/static/train/train20X20/A/A_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">B alphabet </p>
            <img src="/static/train/train20X20/B/B_0.jpg" alt="">
            <img src="/static/train/train20X20/B/B_1.jpg" alt="">
            <img src="/static/train/train20X20/B/B_2.jpg" alt="">
            <img src="/static/train/train20X20/B/B_3.jpg" alt="">
            <img src="/static/train/train20X20/B/B_4.jpg" alt="">
            <img src="/static/train/train20X20/B/B_5.jpg" alt="">
            <img src="/static/train/train20X20/B/B_6.jpg" alt="">
            <img src="/static/train/train20X20/B/B_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">Number 1 </p>
            <img src="/static/train/train20X20/1/1_0.jpg" alt="">
            <img src="/static/train/train20X20/1/1_1.jpg" alt="">
            <img src="/static/train/train20X20/1/1_10.jpg" alt="">
            <img src="/static/train/train20X20/1/1_3.jpg" alt="">
            <img src="/static/train/train20X20/1/1_4.jpg" alt="">
            <img src="/static/train/train20X20/1/1_5.jpg" alt="">
            <img src="/static/train/train20X20/1/1_6.jpg" alt="">
            <img src="/static/train/train20X20/1/1_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">Number 2 </p>
            <img src="/static/train/train20X20/2/2_8.jpg" alt="">
            <img src="/static/train/train20X20/2/2_1.jpg" alt="">
            <img src="/static/train/train20X20/2/2_2.jpg" alt="">
            <img src="/static/train/train20X20/2/2_3.jpg" alt="">
            <img src="/static/train/train20X20/2/2_4.jpg" alt="">
            <img src="/static/train/train20X20/2/2_5.jpg" alt="">
            <img src="/static/train/train20X20/2/2_6.jpg" alt="">
            <img src="/static/train/train20X20/2/2_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">Number 7 </p>
            <img src="/static/train/train20X20/7/7_8.jpg" alt="">
            <img src="/static/train/train20X20/7/7_1.jpg" alt="">
            <img src="/static/train/train20X20/7/7_2.jpg" alt="">
            <img src="/static/train/train20X20/7/7_3.jpg" alt="">
            <img src="/static/train/train20X20/7/7_4.jpg" alt="">
            <img src="/static/train/train20X20/7/7_5.jpg" alt="">
            <img src="/static/train/train20X20/7/7_6.jpg" alt="">
            <img src="/static/train/train20X20/7/7_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">Number 9 </p>
            <img src="/static/train/train20X20/9/9_8.jpg" alt="">
            <img src="/static/train/train20X20/9/9_1.jpg" alt="">
            <img src="/static/train/train20X20/9/9_2.jpg" alt="">
            <img src="/static/train/train20X20/9/9_3.jpg" alt="">
            <img src="/static/train/train20X20/9/9_4.jpg" alt="">
            <img src="/static/train/train20X20/9/9_5.jpg" alt="">
            <img src="/static/train/train20X20/9/9_6.jpg" alt="">
            <img src="/static/train/train20X20/9/9_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <p style="padding-top:3%;">S alphabet </p>
            <img src="/static/train/train20X20/S/S_8.jpg" alt="">
            <img src="/static/train/train20X20/S/S_1.jpg" alt="">
            <img src="/static/train/train20X20/S/S_2.jpg" alt="">
            <img src="/static/train/train20X20/S/S_3.jpg" alt="">
            <img src="/static/train/train20X20/S/S_4.jpg" alt="">
            <img src="/static/train/train20X20/S/S_5.jpg" alt="">
            <img src="/static/train/train20X20/S/S_6.jpg" alt="">
            <img src="/static/train/train20X20/S/S_7.jpg" alt="">

        </div>
        <div style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <h1 style="padding-top: 5%; text-align:center">About CNN</h1>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;padding-top:5%;padding-bottom:4%">A
                Convolutional Neural Network (ConvNet/CNN) is a Deep Learning algorithm which
                can take in an input image, assign importance (learnable weights and biases) to various aspects/objects
                in the image and be able to differentiate one from the other. The pre-processing required in a ConvNet
                is much lower as compared to other classification algorithms. While in primitive methods filters are
                hand-engineered, with enough training, ConvNets have the ability to learn these filters/characteristics.
            </p>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;">The architecture of a ConvNet is analogous
                to that of the connectivity pattern of Neurons in the Human Brain and was inspired by the organization
                of the Visual Cortex. Individual neurons respond to stimuli only in a restricted region of the visual
                field known as the Receptive Field. A collection of such fields overlap to cover the entire visual area
            </p>
            <img src="https://miro.medium.com/max/3744/1*SGPGG7oeSvVlV5sOSQ2iZw.png" alt="" style="width: 100%;">
            <h2 style="padding-top: 5%;">Input Image</h2>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;padding-top:5%;padding-bottom:4%">
                In the figure, we have an RGB image which has been separated by its three color planes — Red, Green, and
                Blue. There are a number of such color spaces in which images exist — Grayscale, RGB, HSV, CMYK
            </p>
            <img src="https://miro.medium.com/max/550/1*15yDvGKV47a0nkf5qLKOOQ.png" alt="">
            <h2 style="padding-top: 5%;">Convolution Layer — The Kernel</h2>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;padding-top:5%;padding-bottom:4%">The
                objective of the Convolution Operation is to extract the high-level features such as edges, from the
                input image. ConvNets need not be limited to only one Convolutional Layer. Conventionally, the first
                ConvLayer is responsible for capturing the Low-Level features such as edges, color, gradient
                orientation, etc. With added layers, the architecture adapts to the High-Level features as well, giving
                us a network which has the wholesome understanding of images in the dataset, similar to how we would</p>
            <img src="https://miro.medium.com/max/790/1*1okwhewf5KCtIPaFib4XaA.gif" alt="">
            <h2 style="padding-top: 5%;">Pooling Layer</h2>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;padding-top:5%;padding-bottom:4%">Similar to
                the Convolutional Layer, the Pooling layer is responsible for reducing the spatial size of the Convolved
                Feature. This is to decrease the computational power required to process the data through dimensionality
                reduction. Furthermore, it is useful for extracting dominant features which are rotational and
                positional invariant, thus maintaining the process of effectively training of the model.</p>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;padding-top:5%;padding-bottom:4%">There are
                two types of Pooling: Max Pooling and Average Pooling. Max Pooling returns the maximum value from the
                portion of the image covered by the Kernel. On the other hand, Average Pooling returns the average of
                all the values from the portion of the image covered by the Kernel.

                Max Pooling also performs as a Noise Suppressant. It discards the noisy activations altogether and also
                performs de-noising along with dimensionality reduction. On the other hand, Average Pooling simply
                performs dimensionality reduction as a noise suppressing mechanism. Hence, we can say that Max Pooling
                performs a lot better than Average</p>
            <img src="/static/images/Screenshot from 2020-03-30 03-09-00.jpg" alt="">
            <h2 style="padding-top: 5%;">Classification — Fully Connected Layer (FC Layer)</h2>
            <p style="font-family:'Roboto',sans-serif; font-size:x-large;
            text-align: left; color: rgba(0,0,0,.84); word-spacing: 15px;padding-top:5%;padding-bottom:4%">Adding a
                Fully-Connected layer is a (usually) cheap way of learning non-linear combinations of the high-level
                features as represented by the output of the convolutional layer. The Fully-Connected layer is learning
                a possibly non-linear function in that space.

                Now that we have converted our input image into a suitable form for our Multi-Level Perceptron, we shall
                flatten the image into a column vector. The flattened output is fed to a feed-forward neural network and
                backpropagation applied to every iteration of training. Over a series of epochs, the model is able to
                distinguish between dominating and certain low-level features in images and classify them using the
                Softmax Classification technique</p>
                <img src="/static/images/Screenshot from 2020-03-23 00-04-10.jpg" alt="">
                <h2 style="padding-top: 5%;">CODE</h2>
                <img src="/static/images/cnn/impot_Lib.jpg" alt="">
                <img src="/static/images/cnn/reading_data.jpg" alt="">
                <img src="/static/images/cnn/construct_img.jpg" alt="">
                <img src="/static/images/cnn/no_0_1.jpg" alt="">
                <img src="/static/images/cnn/2_3.jpg" alt="">
                <img src="/static/images/cnn/4_5.jpg" alt="">
                <img src="/static/images/cnn/6_7.jpg" alt="">
                <img src="/static/images/cnn/8_9.jpg" alt="">
                <img src="/static/images/cnn/A_Z/A_B.jpg" alt="">
                <img src="/static/images/cnn/A_Z/C_D.jpg" alt="">
                <img src="/static/images/cnn/A_Z/E_F.jpg" alt="">
                <img src="/static/images/cnn/A_Z/G_H.jpg" alt="">
                <img src="/static/images/cnn/A_Z/J_K.jpg" alt="">
                <img src="/static/images/cnn/A_Z/L_M.jpg" alt="">
                <img src="/static/images/cnn/A_Z/N_P.jpg" alt="">
                <img src="/static/images/cnn/A_Z/Q_R.jpg" alt="">
                <img src="/static/images/cnn/A_Z/S_T.jpg" alt="">
                <img src="/static/images/cnn/A_Z/U_V.jpg" alt="">
                <img src="/static/images/cnn/A_Z/W_X.jpg" alt="">
                <img src="/static/images/cnn/A_Z/Y_Z.jpg" alt="">
                <img src="/static/images/model/Normalization.jpg" alt="">
                <img src="/static/images/model/after_normalization.jpg" alt="">
                <img src="/static/images/model/ONE_HOTENCODING.jpg" alt="">
                <img src="/static/images/model/result_of_ONEHOTencoding.jpg" alt="">
                <img src="/static/images/model/creating_model.jpg" alt="">
                <img src="/static/images/model/Model_layer.jpg" alt="">
                <img src="/static/images/model/model_summary.jpg" alt="">
                <img src="/static/images/model/Model_fitting.jpg" alt="">
                <img src="/static/images/model/epoch.jpg" alt="">
                <img src="/static/images/model/epoch_2.jpg" alt="">
                <img src="/static/images/model/Y_pred_1.jpg" alt="">
                <img src="/static/images/model/Y_pred_2.jpg" alt="">
                <img src="/static/images/model/Result_1.jpg" alt="">
                <img src="/static/images/model/Result_2.jpg" alt="">
                <img src="/static/images/model/Result_3.jpg" alt="">
                


        </div>



    </div>

</div>

{% endblock %}