<!DOCTYPE html>

{% extends "basic_html/base.html" %}

{% block body_block %}
<div class="container-fluid text-center">
    
    <div class="row content" style="padding-top: 10%; padding-bottom:10%;">
        <div class="container_for_side" >

        </div>
        <div class="" style="font-family:'Roboto',sans-serif; font-size:16px;
        text-align: left; color: rgba(0,0,0,.84); padding-left:5%; padding-right:5%">
            <h1 style="font:35px solid black">Machine learning</h1>
            <p style="padding-top:3%;">Machine Learning is the field of study that gives computers the capability to learn without being explicitly programmed.
                ML is one of the most exciting technologies that one would have ever come across. 
                As it is evident from the name, it gives the computer that makes it more similar to humans: The ability to learn.
            </p>
            <label for="">for more</label>
            <a href="https://en.wikipedia.org/wiki/ML">click here</a>
            <!-- <img src="abc.jpg" alt="Don't show"> -->
            <h3 style="padding-top:5%; padding-bottom:5%; font:26px solid black">Introduction To Machine Learning</h3>
            <div class="well well-sm"> 1 <a href="">Data Preprocessing</a></div>
            <div class="well well-sm"> 2 <a href="">Simple Linear Regression</a></div>
            <div class="well well-sm"> 3 <a href="">Multiple Linear Regression</a></div>
            <div class="well well-sm"> 4 <a href="">Polynomial Regression</a></div>
            <div class="well well-sm"> 5 <a href="">Support Vector Regression (SVR)</a></div>
            <div class="well well-sm"> 6 <a href="">Decision Tree Regression</a></div>
            <div class="well well-sm"> 7 <a href="">Random Forest Regression</a></div>
            <div class="well well-sm"> 8 <a href="">Evaluating Regression Models Performance</a></div>
            <div class="well well-sm"> 9 <a href="">Logistic Regression</a></div>
            <div class="well well-sm"> 10 <a href="">K-Nearest Neighbors (K-NN)</a></div>
            <div class="well well-sm"> 11 <a href="">Support Vector Machine (SVM)</a></div>
            <div class="well well-sm"> 12 <a href="">Kernel SVM</a></div>
            <div class="well well-sm"> 13 <a href="">Naive Bayes</a></div>
            <div class="well well-sm"> 14 <a href="">Decision Tree Classification</a></div>
            <div class="well well-sm"> 15 <a href="">Random Forest Classification</a></div>
            <div class="well well-sm"> 16 <a href="">Evaluating Classification Models Performance</a></div>
            <div class="well well-sm"> 17 <a href="">K-Means Clustering</a></div>
            <div class="well well-sm"> 18 <a href="">Hierarchical Clustering</a></div>
            <div class="well well-sm"> 19 <a href="">Association Rule Learning Apriori</a></div>
            <div class="well well-sm"> 20 <a href="">Reinforcement Learning Upper Confidence Bound (UCB)</a></div>
            <div class="well well-sm"> 21 <a href="">Reinforcement Learning Thompson Sampling</a></div>
            <div class="well well-sm"> 22 <a href="">Artificial Neural Networks</a></div>
            <div class="well well-sm"> 23 <a href="">Convolutional Neural Networks</a></div>
            <div class="well well-sm"> 24 <a href="">Dimensionality Reduction Principal Component Analysis (PCA)</a></div>
            <div class="well well-sm"> 25 <a href="">Dimensionality Reduction Linear Discriminant Analysis (LDA)</a></div>
            <div class="well well-sm"> 26 <a href="">Model Selection & Boosting </a></div>
            <div class="well well-sm"> 27 <a href="">XGBoost</a></div>
        </div>
        
    </div>
</div>


{% endblock %}